.wrapper-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* bmi css components */
.bmi-main-div{
    
   text-align: center;
   background-color: rgb(28, 43, 36);
   color: white;

}

.bmi-input{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    margin-top: -20px;
    
    
    
}
.bmi-input input{
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: rgb(28, 43, 36);
    color: aliceblue;
    height: 23px;
    margin: 10px auto;
    width: 300px;
    border: none;

}

.bmi-container{
    background-color: #eee ;
    /* background:#0B595E; */
    height: 100vh;
}

.btn-ref{
    
    background:#0B595E;
    height: 23px;
    width: 305px;
    border-radius: 2px;
    border: none;
}

.btn-ref:disabled{
    background:#b1c5c7;
    

}
.bmi-input h3{
    text-align: center;
}