.wrapper-div{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* bmi css components */
.container{
    background-color: #eee ;

}
.bmi-main-div{
    
   text-align: center;
   background-color: rgb(28, 43, 36);
   color: white;

}

.bmi-input{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    
}
.input-field{
    margin-bottom: 100px;
    border-radius: 3px;
    /* background-color: rgb(28, 43, 36); */
    color: black;
    /* height: 30px; */
    
    width: 300px;
    border: none;

}

.bmi-container{
    background-color: #eee ;
    /* background:#0B595E; */
    height: 100vh;
}

.btn-ref{
    
    /* background:#0B595E; */
    /* height: 23px; */
    width: 300px;
    border-radius: 2px;
    border: none;
    padding: 20px;
}

/* .btn-ref:disabled{
    background:#b1c5c7;
    

} */
.bmi-input h3{
    text-align: center;
}

#inpt1{
   margin-top: 15px;
   height: 10px;
   padding-top: 2px;
}
#inpt2{
    margin-top: 15px;
   height: 10px;
   padding-top: 2px;
}
#btn{
    margin-top: 15px;
  
}